<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="idita_kostan_root" name="IDITA KOSTAN" sequence="10"/>
        <menuitem id="service_kostan_menu" name="Pemesanan Kostan" parent="idita_kostan_root" sequence="10"/>
        <menuitem id="kostan_contact_menu_categ" name="Kontak" parent="idita_kostan_root" sequence="10"/>
    </data>
</odoo>